.idea/
.idea/*
.idea/**
.idea/*.*
/pkg/transaction/txsExport.json
/pkg/transaction/exports.csv
/pkg/transaction/exports.json
/exports.json
/pkg/transaction/exports.xml
/exports.xml
/exports.csv
/currencies.json
/qrcode.png
/cardsExport.json
/personsExport.json
/txsExport.json
/pkg/card/cardsExport.json
/pkg/person/personsExport.json
